 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/03181.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 104px -16px 0 530px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 23px -6px 0 519px;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  font-size: 1.25rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  margin: 142px auto 60px 709px;
  padding: 15px 69px 15px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 430px;
    width: 626px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 419px;
    width: 627px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 100px;
    margin-left: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 116px;
    margin-right: 218px;
    margin-left: -123px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 217px;
    margin-left: -123px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 109px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 114px;
    margin-right: 94px;
    margin-left: -94px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-right: 114px;
    margin-left: -114px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 114px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 9.74% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 111px;
    margin-right: 50px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 43px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 358px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 656px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 579px;
  background-image: url("images/8d57c195-8850-73a9-a070-850b68edd6fa.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 636px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 577px;
  grid-template-rows: auto auto auto;
  margin: 48px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 395px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 14px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 477px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-2 .u-list-1 {
    width: 541px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-image-1 {
    min-height: 397px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin: 64px -35px 56px auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 715px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 608px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 804px;
}

.u-section-3 .u-shape-1 {
  height: 203px;
  background-image: none;
  margin: 250px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 557px;
  height: 704px;
  margin: -453px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 526px);
  grid-template-rows: auto auto auto;
  margin: -207px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 190px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 16px;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  font-size: 2.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 14px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 526px);
  }

  .u-section-3 .u-repeater-1 {
    min-height: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 526px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 783px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 683px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 526px);
    margin-top: -186px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 530px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 430px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 67px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 628px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1067px;
  margin: 0 31px 0 auto;
}

.u-section-4 .u-image-1 {
  min-height: 628px;
  background-image: url("images/LOGO1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 19px 19px 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 628px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  margin: 0;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-label-4 {
  font-weight: 700;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 554px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 424px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-4 .u-image-1 {
    min-height: 636px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-image-1 {
    min-height: 511px;
  }
}/********** Template CSS **********/
:root {
    
    
    
    --black: #404040
}
.fw-medium {
    font-weight: 600 !important;
}
.fw-semi-bold {
    font-weight: 700 !important;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
/**註冊**/
body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}
.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}
    .form-input i {
        position: absolute;
        font-size: 18px;
        top: 15px;
        left: 10px
    }
.form-control {
    height: 50px;
    background-color: #ffffff;
    text-indent: 24px;
    font-size: 15px
}
    .form-control:focus {
        background-color: #ffffff;
        box-shadow: none;
        color: #404040;
        border-color: #009900
    }
.form-check-label {
    margin-top: 2px;
    font-size: 14px
}
.signup {
    height: 50px;
    font-size: 14px
}
/***註冊***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}
#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}
.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}
.btn-square {
    width: 38px;
    height: 38px;
}
.btn-sm-square {
    width: 32px;
    height: 32px;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}
/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #009900;
}
@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}
.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
}
.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}
.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: #009900;
    border-color: #009900;
}
.page-header {
    /*background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url('../img/carousel-2.jpg');*/
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header-inner {
    background: rgba(15, 23, 43, .7);
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #F0FBFC;
}
/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: #009900;
    z-index: -1;
}
.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: #009900;
    z-index: -1;
}
.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}
.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
}
/***鏡頭***/
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
/*** Service ***/
.service-item {
    background: #F0FBFC;
    transition: .5s;
}
.service-item:hover {
    margin-top: -10px;
    background: #009900;
}
.service-item * {
    transition: .5s;
}
.service-item:hover * {
    color: #F0FBFC !important;
}
/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}
.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}
/*** Team ***/
.team-item img {
    transition: .5s;
}
.team-item:hover img {
    transform: scale(1.1);
}
/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}
.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}
@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}
@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}
.testimonial-carousel .owl-item.center .testimonial-text {
    background: #009900 !important;
}
.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}
.testimonial-carousel .owl-dot.active {
    background: #009900;
    border-color: #009900;
}
/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0FBFC;
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}
.footer .btn.btn-social:hover {
    color: #009900;
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .copyright a {
    color: #F0FBFC;
}
.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}
.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}